.cordefundo1 {
    background-color: #5271ff; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; 
    height: 100vh; 
    width: 100vw; 
}

/*RETÂNGULO PRINCIPAL*/
.black1{
    position: fixed;
    width: 97.8%;
    height: 21.48%;
    left: 1.10%;
    top: 1.43%;
    background-color: black;
    border-radius: 15px; 
    object-fit: cover; 
}

.maintitle{
    position: fixed;
    width: 59.88%;
    height: 11.6%;
    top: 2.08%;
    left: 20.06%;
    color: #ffffff;
    font-family:'Open Sans', sans-serif;;
    font-weight: 600;
    font-size: 56px;
    z-index: 700;
    text-align: center;
}

.subtitle{
    position: absolute;

    color: black;
    font-family:'Open Sans', sans-serif;;
    font-weight: 600;
    font-size: 56px;
    z-index: 700;
    text-align: center;
}

.logotop1{
    position: fixed;
    height: 18.23%;
    width: 10.25%;
    top: 3.13%;
    left: 2.12%;
    z-index: 1000;
    border-radius: 15px; 
    object-fit: cover; 
}

.logotop2{
    position: fixed;
    height: 18.23%;
    width: 10.25%;
    top: 3.13%;
    left: 87.85%;
    z-index: 1000;
    border-radius: 15px; 
    object-fit: cover; 
}

/*PLACES*/
.blue1{
    position: absolute;
    width: 97.8%;
    height: 64.58%;
    left: 1.10%;
    top: 33.07%;
    background-color:#38b6ff;
    border-radius: 15px; 
    object-fit: cover; 
}

.gray1{
    position: absolute;
    background-color: gainsboro;
    z-index: 100;
    width: 16.84%;
    height: 22.79%;
    left: 14.93%;
    top: 42.58%;
}

.texto_gray1 {
    position: absolute;
    text-align: center; 
    z-index: 200;
    color: black;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    width: 16.84%;
    height: 22.79%;
    left: 14.93%;
    top: 45%;
    pointer-events: none;
}

.gray2{
    position: absolute;
    background-color: gainsboro;
    z-index: 100;
    width: 16.84%;
    height: 22.79%;
    left: 48.68%;
    top: 42.58%;
}

.texto_gray2 {
    position: absolute;
    text-align: center; 
    z-index: 200;
    color: black;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    width: 16.84%;
    height: 22.79%;
    left: 48.68%;
    top: 43%;
    pointer-events: none;
}

.gray3{
    position: absolute;
    background-color: gainsboro;
    z-index: 100;
    width: 16.84%;
    height: 22.79%;
    left: 80.16%;
    top: 42.58%;
}
.texto_gray3 {
    position: absolute;
    text-align: center; 
    z-index: 200;
    color: black;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 29px;
    width: 16.84%;
    height: 22.79%;
    left: 80.16%;
    top: 43%;
    pointer-events: none;
}

.gray4{
    position: absolute;
    background-color: gainsboro;
    z-index: 100;
    width: 16.84%;
    height: 22.79%;
    left: 14.93%;
    top: 67.19%;
}

.texto_gray4 {
    position: absolute;
    text-align: center; 
    z-index: 200;
    color: black;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 28px;
    width: 16.84%;
    height: 22.79%;
    left: 14.93%;
    top: 68.5%;
    pointer-events: none;
}

.gray5{
    position: absolute;
    background-color: gainsboro;
    z-index: 100;
    width: 16.84%;
    height: 22.79%;
    left: 48.68%;
    top: 67.19%;
}

.texto_gray5 {
    position: absolute;
    text-align: center; 
    z-index: 200;
    color: black;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    width: 16.84%;
    height: 22.79%;
    left: 48.68%;
    top: 67.5%;
    pointer-events: none;
}

.gray6{
    position: absolute;
    background-color: gainsboro;
    z-index: 100;
    width: 16.84%;
    height: 22.79%;
    left: 80.16%;
    top: 67.19%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    text-align: center;
}

.texto_gray6 {
    position: absolute;
    text-align: center; 
    z-index: 200;
    color: black;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    width: 16.84%;
    height: 22.79%;
    left: 80.16%;
    top: 67.5%;
    pointer-events: none;
}

.imagem1_1{
    position: absolute;
    z-index: 100;
    width: 12.81%;
    height: 22.79%;
    left: 2.12%;
    top: 42.58%; 
}

.imagem1_2{
    position: absolute;
    z-index: 100;
    width: 12.81%;
    height: 22.79%;
    left: 35.87%;
    top: 42.58%;
}

.imagem1_3{
    position: absolute;
    z-index: 100;
    width: 12.81%;
    height: 22.79%;
    left: 67.35%;
    top: 42.58%; 
}

.imagem1_4{
    position: absolute;
    z-index: 100;
    width: 12.81%;
    height: 22.79%;
    left: 2.12%;
    top: 67.19%;
}

.imagem1_5{
    position: absolute;
    z-index: 100;
    width: 12.81%;
    height: 22.79%;
    left: 35.87%;
    top: 67.19%;
}

.imagem1_6{
    position: absolute;
    z-index: 100;
    width: 12.81%;
    height: 22.79%;
    left: 67.35%;
    top: 67.19%;
}

.imagem2.1{
    position: absolute;
    width:;
    height:;
    left:;
    top:; 
}

.imagem2.2{
    position: absolute;
    width:;
    height::
    left:;
    top:; 
}

.imagem2.3{
    position: absolute;
    width:;
    height::
    left:;
    top:; 
}

.imagem2.4{
    position: absolute;
    width:;
    height::
    left:;
    top:; 
}

