body {
  font-family: 'Roboto', sans-serif;
}

/* Estilizando o cabeçalho */
#cabecalho {
  background-image: radial-gradient(circle at 50% 50%, #38b6ff, #004aad);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Estilizando o menu de navegação */
.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estiliza a imagem no navMenu */
.navMenu img {
  width: 60px;
  position: absolute;
  left: 0;
  margin-left: 20px;
  border-radius: 10px;
}

/* Estilizando os links do menu */
.navMenu a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: bold;
  margin-right: 30px;
}

/* Alterando a cor do link ao passar o mouse */
.navMenu a:hover {
  background-color: #5271ff;
  border-radius: 20px;
}

/* Estilos para o rodapé */
.rodape {
  background-color: #000;
  color: #fff;
  padding: 8px;
  font-size: 1rem;
  width: 100%;
  margin-top: 200px;
}

/* Centralizando elementos */
.centralizar {
  text-align: center;
}

main {
  min-height: 80dvh;
}

/* Responsividade da página */
@media only screen and (max-width: 1024px) {
  /* Estilizando o cabeçalho */
  #cabecalho {
    padding: 20px;
  }

  /* Estilizando os links do menu */
  .navMenu a {
    padding: 10px 20px;
    margin-right: 15px;
  }

  /* Estilos para a seção */
  .corpoForm {
    max-width: 500px;
    margin: 25px auto;
  }

  /* Estilos para o rodapé */
  .rodape {
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  /* Estilizando o cabeçalho */
  #cabecalho {
    padding: 15px;
  }

  #cabecalho img {
    display: none;
  }

  /* Estilizando os links do menu */
  .navMenu a {
    padding: 10px 20px;
    margin-right: 5px;
  }

  /* Estilos para a seção */
  .corpoForm {
    max-width: 400px;
    margin: 30px auto;
  }

  /* Estilos para o rodapé */
  .rodape {
    padding: 5px;
  }
}
